/* SIMPLE RESET */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
	margin:0;
	padding:0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* FONT STYLES */

html, aside ol li:nth-of-type(2) {

	font-family: 'Merriweather', serif;
	font-size: 16px;
	line-height: 1.125em;

}

h1, h2, h3, h4, h5, h6, aside ol {

	font-family: 'Oswald', sans-serif;

}

/* STUDENT STYLES */

/* Globals */

body {
	max-width: 60em;
	margin: 0.625em auto;
	padding: 0.625em;
	overflow: auto;
}

a {
	text-decoration: none;
	color: black;
}

a:hover { 
	color: orange; 
	border-bottom: 0.125em solid orange;
}

img {
    width: 100%;
    height: auto;
}

/* Header */
header {
	height: 275px;
	background-color: #ECECEC;
	overflow: auto;
}

header h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 70px;
	line-height: 76px;
	margin-top: 74px;
}

/* Nav */
nav ul { 
	list-style-type: none;
	padding: 1.25em 16em;
	margin: 0;
	font-size: 15px;
}

nav li {
	display: inline-block;
	padding: .50em;
}

/* Maincontent */
section {
	width: 66%;
	float: left;
	padding-right: 4%;
}
section h1 {
	font-size: 60px;
	line-height: 62px;
	padding: 1em 0 0 0;
}

section h1 {
	font-size: 60px;
	line-height: 62px;
	padding: 1.5em 0 0 0;
}

section h2 {
	font-size: 58px;
	line-height: 60px;
	padding: 1.25em 0 0 0;
}

section h2 span.numberrank {
	position: absolute;
	margin: 3em 0 0 .75em;
	width: 110px;
	height: 110px;
	padding: .75em 0 0 0;
	background: orange;
	box-shadow: 4px 4px 16px 2px rgba(34, 33, 33, 0.7);
	-moz-box-shadow: 4px 4px 16px 2px rgba(34, 33, 33, 0.7);
	-webkit-box-shadow: 4px 4px 16px 2px rgba(34, 33, 33, 0.7);
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: white;
	font-size: 34px;
	font-weight: 300;
	text-align: center;
	float: left;
	-ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
}

section h2 span.date {
	font-size: 32px;
	font-weight: 300;
}

section p {
	padding-bottom: 1em; 
}

section img {
	padding: .75em 0 1.5em 0;
    position: relative;
    z-index: -1;
}

/* Aside */
aside {
	width: 33%;
	float: right;
	padding-left: 5%;
	padding-top: 6%;
	font-weight: 300;
}

aside li h1 {
	font-size: 28px;
	line-height: 18px;
	padding: 1.5em 0 0 0;
	text-align: center;
	color: black;
}

aside li {
	color: hsl(0, 1%, 34%);
	font-size: 25px;
	line-height: 18px;
	text-align: center;
	padding-bottom: .65em;
}

aside img {
	padding: 2em 0 1em 0;
}

/* Footer */
footer {
	clear: both;
}